@page "/foods/{Id:guid}/edit"
@page "/restaurants/{RestaurantId:guid}/foods/new"
@namespace FoodDelivery.Web.App.Pages
@using FoodDelivery.Common.Enums
@using FoodDelivery.Web.App.Extensions;
@using FoodDelivery.Web.App.Resources.Texts
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FoodEditPageResources> FoodEditPageLocalizer

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/restaurants/">Restaurants</a></li>
        <li class="breadcrumb-item"><a href="/restaurants/@Data.RestaurantId">@Data.RestaurantName</a></li>
        <li class="breadcrumb-item"><a href="/foods/@Data.Id">@Data.Id</a></li>
        <li class="breadcrumb-item active" aria-current="page">edit</li>
    </ol>
</nav>

<h1>
    @(Id != Guid.Empty ? FoodEditPageLocalizer["Food_EditFood"] + $" {Data.Name}" : FoodEditPageLocalizer["Food_NewFood"])
</h1>

<EditForm Model="@Data" OnValidSubmit="@Save">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-4">
            <div class="bg-warning rounded overflow-hidden h-100 d-flex">
                @if (!String.IsNullOrEmpty(Data.Photo))
                {
                    <img class="card-img-top" src="@Data.Photo" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1357365823/vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo.jpg?s=612x612&w=0&k=20&c=PM_optEhHBTZkuJQLlCjLz-v3zzxp-1mpNQZsdjrbns=" alt="Card image cap">
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["Food_Name"]
                    <InputText @bind-Value="@Data.Name" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Data.Name)" />
                    </small>
                </label>
            </div>
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["Food_Description"]
                    <InputText @bind-Value="@Data.Description" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Data.Description)" />
                    </small>
                </label>
            </div>
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["Food_ImageUrl"]
                    <InputText @bind-Value="@Data.Photo" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Data.Photo)" />
                    </small>
                </label>
            </div>
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["Food_Price"]
                    <InputNumber @bind-Value="@Data.Price" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Data.Price)" />
                    </small>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-3 ">
            <div class="bg-sec p-3 rounded">
                <h2>@FoodEditPageLocalizer["Food_AddAllergens"]</h2>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <InputSelect @bind-Value="SelectedAllergenName" class="form-control">
                            @foreach (var allergen in Enum.GetValues<Allergen>())
                            {
                                if (allergen != Allergen.Undefined)
                                {
                                    <option value="@allergen.ToString()">@allergen.GetReadableName()</option>
                                }
                            }
                        </InputSelect>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-success" @onclick="@AddAllergen">
                            @FoodEditPageLocalizer["Food_Add"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-3 ">
            <div class="bg-sec p-3 rounded">
                <h2>@FoodEditPageLocalizer["Food_Allergens"]</h2>
                <ul class="list-group mb-4">
                    @foreach (var allergen in Data.Allergens)
                    {
                        <li class="d-flex justify-content-between align-items-center list-group-item list-group-item-secondary">
                            <span>
                                @allergen.GetReadableName()
                            </span>
                            <button class="btn btn-danger btn-sm" type="button" @onclick="() => DeleteAllergen(allergen)">@FoodEditPageLocalizer["Food_Remove"]</button>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>




    <div class="d-flex justify-content-end mt-2 mb-2">
        <button type="submit" class="btn btn-success mr-2">
            @FoodEditPageLocalizer["Food_Save"]
        </button>
        @if (Id != Guid.Empty)
        {
            <button class="btn btn-danger" @onclick="@Delete">@FoodEditPageLocalizer["Food_Delete"]</button>
        }
    </div>

</EditForm>

